arquivos/fluxo_n8n/workflow.json
{
  "name": "Whatsapp glicoScan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        296
      ],
      "id": "edc1f0e8-abde-4501-9a5a-217ca36111b4",
      "name": "Webhook",
      "webhookId": "0868fa46-f74b-4034-bdcb-fabffeab9233"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66febee1-2ce6-44cc-b47d-8e430fa9c842",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "bb0830b9-5956-401b-b1f3-f3f5e230e19b",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "13b1c938-515a-4b42-ae2f-06f3a2f91ab8",
              "name": "pushName",
              "value": "={{ $json.body.me.pushName }}",
              "type": "string"
            },
            {
              "id": "d4914801-0f86-4992-acef-7f7bc4aa05bf",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "0b6b1392-1ea0-4bd4-9d39-eef673cd1f86",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "76e024d4-01fd-4536-912d-fcbeb8271be3",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "fb4fd731-6d37-457c-88ce-25c3c8156b41",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            },
            {
              "id": "2d502705-31cc-484c-818b-7e0123859c4e",
              "name": "image",
              "value": "={{ $json.body.payload.media.url }}",
              "type": "string"
            },
            {
              "id": "724516ee-f818-465c-aadc-146f57c3e854",
              "name": "hasMedia",
              "value": "={{ $json.body.payload.hasMedia }}",
              "type": "string"
            },
            {
              "id": "4dca32ca-c707-4c73-a91c-7515687cc30d",
              "name": "mediaType",
              "value": "={{ $json.body.payload._data.Info.MediaType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        296
      ],
      "id": "77ec5e4f-42b8-4248-9671-268f67643fcb",
      "name": "Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-agendamento-1",
              "leftValue": "={{ $json.message ? $json.message.toLowerCase() : '' }}",
              "rightValue": "sim",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "check-agendamento-2",
              "leftValue": "={{ $json.message ? $json.message.toLowerCase() : '' }}",
              "rightValue": "quero",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "check-agendamento-3",
              "leftValue": "={{ $json.message ? $json.message.toLowerCase() : '' }}",
              "rightValue": "agendar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "check-agendamento-4",
              "leftValue": "={{ $json.message ? $json.message.toLowerCase() : '' }}",
              "rightValue": "marcar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        296
      ],
      "id": "e2a07e68-3e9e-4eb8-8266-a45e80e15a40",
      "name": "Verificar resposta agendamento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clinicas-data",
              "name": "clinicas",
              "value": "=[{\"id\": 1, \"nome\": \"Clínica Saúde Total\", \"endereco\": \"Av. Principal, 123 - Centro\", \"telefone\": \"(62) 3214-5678\"}, {\"id\": 2, \"nome\": \"Centro Médico Vida Saudável\", \"endereco\": \"Rua das Flores, 456 - Jardim América\", \"telefone\": \"(62) 3214-5679\"}, {\"id\": 3, \"nome\": \"Clínica Bem Estar\", \"endereco\": \"Av. Goiás, 789 - Setor Central\", \"telefone\": \"(62) 3214-5680\"}]",
              "type": "array"
            },
            {
              "id": "medicos-data",
              "name": "medicos",
              "value": "=[{\"id\": 1, \"nome\": \"Dr. João Silva\", \"especialidade\": \"Endocrinologista\", \"clinica_id\": 1}, {\"id\": 2, \"nome\": \"Dra. Maria Santos\", \"especialidade\": \"Endocrinologista\", \"clinica_id\": 1}, {\"id\": 3, \"nome\": \"Dr. Pedro Oliveira\", \"especialidade\": \"Clínico Geral\", \"clinica_id\": 2}, {\"id\": 4, \"nome\": \"Dra. Ana Costa\", \"especialidade\": \"Endocrinologista\", \"clinica_id\": 2}, {\"id\": 5, \"nome\": \"Dr. Carlos Mendes\", \"especialidade\": \"Endocrinologista\", \"clinica_id\": 3}]",
              "type": "array"
            },
            {
              "id": "horarios-data",
              "name": "horarios",
              "value": "=[{\"id\": 1, \"medico_id\": 1, \"data\": \"2025-11-26\", \"horario\": \"08:00\", \"disponivel\": true}, {\"id\": 2, \"medico_id\": 1, \"data\": \"2025-11-26\", \"horario\": \"09:00\", \"disponivel\": true}, {\"id\": 3, \"medico_id\": 1, \"data\": \"2025-11-26\", \"horario\": \"14:00\", \"disponivel\": true}, {\"id\": 4, \"medico_id\": 2, \"data\": \"2025-11-26\", \"horario\": \"10:00\", \"disponivel\": true}, {\"id\": 5, \"medico_id\": 2, \"data\": \"2025-11-27\", \"horario\": \"08:30\", \"disponivel\": true}, {\"id\": 6, \"medico_id\": 3, \"data\": \"2025-11-27\", \"horario\": \"09:00\", \"disponivel\": true}, {\"id\": 7, \"medico_id\": 4, \"data\": \"2025-11-27\", \"horario\": \"14:30\", \"disponivel\": true}, {\"id\": 8, \"medico_id\": 5, \"data\": \"2025-11-28\", \"horario\": \"08:00\", \"disponivel\": true}]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        592
      ],
      "id": "d3667e58-7be4-476a-8933-5084dc772d29",
      "name": "Dados Agendamento"
    },
    {
      "parameters": {
        "jsCode": "const clinicas = $input.item.json.clinicas;\nconst medicos = $input.item.json.medicos;\nconst horarios = $input.item.json.horarios;\n\nlet mensagem = \"🏥 *Opções de Agendamento Disponíveis*\\n\\n\";\n\n// Agrupar por clínica\nclinicas.forEach(clinica => {\n  mensagem += `*${clinica.nome}*\\n`;\n  mensagem += `📍 ${clinica.endereco}\\n`;\n  mensagem += `📞 ${clinica.telefone}\\n\\n`;\n  \n  // Médicos desta clínica\n  const medicosClinica = medicos.filter(m => m.clinica_id === clinica.id);\n  medicosClinica.forEach(medico => {\n    mensagem += `👨‍⚕️ *${medico.nome}* - ${medico.especialidade}\\n`;\n    \n    // Horários disponíveis deste médico\n    const horariosMedico = horarios.filter(h => h.medico_id === medico.id && h.disponivel);\n    if (horariosMedico.length > 0) {\n      horariosMedico.forEach(horario => {\n        const dataFormatada = new Date(horario.data + 'T' + horario.horario).toLocaleDateString('pt-BR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n        mensagem += `   📅 ${dataFormatada} às ${horario.horario}\\n`;\n      });\n    } else {\n      mensagem += `   ⚠️ Sem horários disponíveis no momento\\n`;\n    }\n    mensagem += `\\n`;\n  });\n  mensagem += `\\n`;\n});\n\nmensagem += \"\\n💬 *Para agendar, entre em contato diretamente com a clínica.*\";\n\nreturn {\n  json: {\n    mensagem_agendamento: mensagem\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        592
      ],
      "id": "03c3fd18-77dd-4373-a8bc-45d38d7724b9",
      "name": "Formatar Opções Agendamento"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "={{ $json.mensagem_agendamento }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        576,
        592
      ],
      "id": "0b07c9f9-5c5c-42b7-882e-64b65918c56c",
      "name": "Enviar Opções Agendamento",
      "credentials": {
        "wahaApi": {
          "id": "KXDJSMkTQ7tf0CDY",
          "name": "WAHA account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "960e0f8a-3c35-41ba-8132-e06fbac19165"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "609f16b6-7982-427e-805e-c05be3ac3787",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        288,
        296
      ],
      "id": "5f93d46c-8b7f-44bf-a553-5e5f9349afa0",
      "name": "Switch-message"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Dados').item.json.message }}",
        "options": {
          "systemMessage": "Você é uma assistente que sabe tudo sobre aferição de glicose por meio de análise de uma imagem colorimétrica de um papel reagente em contato com saliva. As pessoas que você irá atender terão a possibilidade de enviar uma foto do papel de aferição de glicose com o resultado, você terá que dar essa opção para elas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        512,
        192
      ],
      "id": "7221e91d-ae6e-4a53-b014-4173bc63f455",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        520,
        416
      ],
      "id": "caa9032a-f1d6-42d3-a51c-1994d88387f0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gsblv4wk8r2vQYmU",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.chatId }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        648,
        416
      ],
      "id": "3b974bc4-0f1b-4ef6-a6ae-2b4171589505",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "DMr7Yh9NUsm98JJd",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "messageId": "={{ $('Dados').item.json.payload_id }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        864,
        296
      ],
      "id": "9cd15972-a39c-4010-b959-6f20bc45d65a",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "KXDJSMkTQ7tf0CDY",
          "name": "WAHA account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1088,
        296
      ],
      "id": "fa2662ed-5c77-4115-b5c2-d8ad93817032",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "KXDJSMkTQ7tf0CDY",
          "name": "WAHA account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6c13bee-aaaa-4d61-abe9-2e9780287e58",
              "leftValue": "={{ $json.hasMedia }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "98c5ac99-2a38-4025-86d7-79460610b741",
              "leftValue": "={{ $json.mediaType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        148
      ],
      "id": "4a707620-8294-4b6d-bb8a-b8cb0481506a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:9197/api/v1/analyze",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "imagem_url",
              "value": "={{ $json.image }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        0
      ],
      "id": "b1bc9454-ed19-42db-b978-3b794776a5be",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba3e9841-8e6b-4091-a094-65b8641240aa",
              "name": "image",
              "value": "={{ $json[\"image\"].replace(\"localhost\", \"host.docker.internal\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "image",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ],
      "id": "4868f643-bce7-441e-9b35-58a069f81c27",
      "name": "Tratar url imagem"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "messageId": "={{ $('Dados').item.json.payload_id }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        864,
        0
      ],
      "id": "febe3804-b524-405a-b3c3-9c6e096ae58b",
      "name": "Imagem vista",
      "credentials": {
        "wahaApi": {
          "id": "KXDJSMkTQ7tf0CDY",
          "name": "WAHA account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "=Resultado da sua aferição: \n\nNível de glucose detectado: {{ $('HTTP Request').item.json.glucose_mg_dl }} mg/dl\nSituação: {{ $('HTTP Request').item.json.range }}\n\nObrigado(a) pela preferência!",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1088,
        0
      ],
      "id": "5319f6c6-fcf8-4a5c-86fd-e3b3b46143c9",
      "name": "Enviar relatório aferição",
      "credentials": {
        "wahaApi": {
          "id": "KXDJSMkTQ7tf0CDY",
          "name": "WAHA account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "⚠️ *Atenção!*\n\nSeu resultado indica uma situação que requer acompanhamento médico.\n\nDeseja agendar uma consulta para avaliação mais detalhada?\n\nResponda com:\n✅ *Sim* - para ver opções de agendamento\n❌ *Não* - para encerrar",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1536,
        0
      ],
      "id": "2b70b09d-7ebd-4dba-adf9-0c9000506732",
      "name": "Perguntar sobre agendamento",
      "credentials": {
        "wahaApi": {
          "id": "KXDJSMkTQ7tf0CDY",
          "name": "WAHA account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-range-not-normal",
              "leftValue": "={{ $('HTTP Request').item.json.range }}",
              "rightValue": "normal",
              "operator": {
                "type": "string",
                "operation": "notEqual"
              }
            },
            {
              "id": "b830073e-d0f5-419d-b8f6-bc8668e30ef0",
              "leftValue": "={{ $('HTTP Request').item.json.range }}",
              "rightValue": "=normal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        0
      ],
      "id": "f8d22861-0277-4369-b7e2-2eea204a5ef8",
      "name": "Verificar se normal"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Verificar resposta agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar resposta agendamento": {
      "main": [
        [
          {
            "node": "Dados Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Agendamento": {
      "main": [
        [
          {
            "node": "Formatar Opções Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Opções Agendamento": {
      "main": [
        [
          {
            "node": "Enviar Opções Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch-message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Tratar url imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Imagem vista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar url imagem": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagem vista": {
      "main": [
        [
          {
            "node": "Enviar relatório aferição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar relatório aferição": {
      "main": [
        [
          {
            "node": "Verificar se normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se normal": {
      "main": [
        [],
        [
          {
            "node": "Perguntar sobre agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cba8c46c-c9e9-458f-b8b0-a7e42416e33c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0177ba3b31ff93830343884ddfada6bae30dd767f9f803dc8604757ea2c76890"
  },
  "id": "ZaADUoyauVfD8CGC",
  "tags": []
}